<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bagusm.englishforkids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/book"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Main"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Huruf"
            android:label="Learn Alphabets"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Angka"
            android:label="Learn Numbers"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Hewan"
            android:label="Learn Animals"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Buah"
            android:label="Learn Fruits"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Kendaraan"
            android:label="Learn Transportations"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Pakaian"
            android:label="Learn Clothes"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" />
        </activity>
        <activity
            android:name=".Splash1"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tentang"
            android:label="Tentang English For Kids"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Main" /></activity>
    </application>

</manifest>